*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/**Navbar starts**/
nav{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: azure;
}

nav .logo{
    margin-left: 250px;
}
ul{
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    padding: 10px;
    margin-left: 10px;
    align-items: center;
    font-weight: 600;
}

.search-icon{
    margin-left: 500px;
}

.search-icon input{
    border-radius: 8px;
    padding: 5px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500px;
}

nav div{
    font-size: x-large;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 100px;
    color: aqua;
}
/**Navbar ends**/

.discount{
    margin:20px 400px;
    color: red;

}

.dishes h2{
    margin-left: 650px;

}

/** Cards starts**/

.cards{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 600px;
    padding: 20px;
    justify-content: space-around;
}

.card{
    display: flex;
    width: 27%;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgb(65, 64, 64);
    flex-direction: column;
    background-color: antiquewhite;
}

.card .image img{
    padding: 10px;
    border-radius: 5px;
}

.about{
    padding: 10px;
    margin-left: 10px;
}

.about h3{
    margin-bottom: 10px;
    margin-left: 120px;
}

.card button{
    width: 80%;
    margin-left: 40px;
    padding: 10px;
    border-radius: 8px;
    color: azure;
    margin-top: 10px;
    background-color: rgb(250, 5, 46);
}

.card button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.dishes .cards .card:hover{
    box-shadow: 0 5px 10px 0 rgb(56, 56, 56);
    height: 470px;
    width: 29%;
}
/** Cards ends **/

/** Feedback section**/
.assistance{
    width: 30%;
    height: 400px;
    box-shadow: 0 2px 4px 0 rgb(124, 124, 124);
    margin-left: 200px;
    padding: 20px;
}

.assistance h3{
    margin-left: 150px;
    margin-bottom: 30px;
}

form input{
    margin-left: 10px;
}

.assistance form{
    padding: 20px;
}

.assistance .form form button{
    margin-left: 150px;
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(250, 5, 46);
    border-radius: 8px;
}

form label{
    font-weight: 500;
}

.assistance input{
    margin-bottom: 15px;
    padding: 6px;
    border-radius: 4px;
    width: 200px;
    box-shadow: 0 2px 4px 0 rgb(131, 130, 130);
}

.Feedback {
    display: flex;
}

.Feedback img{
    margin-left: 200px;
}

/**Feedback ends**/

.heading{
    width: 500px;
    margin-left: 500px;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 50px;
    color: blue;
}

.join{
    margin-left: 500px;
}

.food{
    color: rgb(26, 6, 245);
    padding-left: 700px;
    font-size: larger;
    font-weight: 700;
}







